.button {
    // height: 35px;
    width: auto;

    display: flex;
    align-items: center;

    padding: 0px 15px;

    text-decoration: none;

    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-noto);

    &:hover {
        opacity: 0.8;

        transition: all 0.2s ease-in-out;
    }
}